@model ProductDetails
@{
	ViewData["Title"] = "Product Details Page";
}

<div class="container">
	<div class="row">
		<div class="col text-center">
			<h1 class="display-4"> <span class="badge bg-light bordred text-dark"> Product Details  </span> </h1>
		</div>
	</div>

	<div class="row">
		<div class="col text-center">
			<button class="btn" style="background-color:#2563eb; color: white;" onclick="AddProDtil()"> <i class="fs-4 bi-cart-plus p-2"></i>   Add Product Details</button>
		</div>
	</div>


    <div class="modal" tabindex="-1" id="addproducts">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
				<div class="modal-header" style="background-color:#60a5fa; color: white;">
					<h5 class="modal-title"> Add Product Details </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">

					<form asp-action="CreateDetails" method="post" enctype="multipart/form-data">
                        <div class="row">
							<input type="hidden" asp-for="Id" class="form-control" />
                            <div class="col">
								<label for="" class="form-label">Select Product</label>
								<select class="form-select" id="ProductId"  asp-for="ProductId">
									@foreach (var item in ViewBag.products)
									{
										<option value="@item.Id">@item.Name</option>
									}

								</select>
                            </div>

                            <div class="col">
								<label for="" class="form-label"> Product Image</label>
								<input type="file" class="img-fluid" name="photo" accept="Images/*" />
                            </div>

							<div class="col- mt-2">
								<label for="" class="form-label"> Product Price</label>
								<input type="text" class="form-control" asp-for="Price" />
							</div>
							<div class="row mt-3">

							<div class="col">
								<label for="" class="form-label">Quantity  </label>
								<input type="text" class="form-control" asp-for="Qty" />
							</div>

							<div class="col">
								<label for="" class="form-label">Product Color </label>
								<input type="text" class="form-control" asp-for="Color" />
							</div>
                        </div>
						</div>
						<div class="modal-footer d-flex justify-content-center">
							<button type="submit" class="btn" style="background-color:#3b82f6; color: white;" data-bs-dismiss="modal">Save Changes</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel </button>
						</div>
                    </form>
                </div>

            </div>
        </div>
    </div>




	<div class="modal" tabindex="-1" id="updateDetail">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="background-color:#10b981; color: white;">
					<h5 class="modal-title">Edit Product Details </h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form asp-action="UpdateDetails" method="post" enctype="multipart/form-data" style="direction:ltr">
						<div class="row">
							<input type="hidden" asp-for="Id" id="Id" class="form-control" />
							<div class="col">
								<label class="form-control" for=""> Product Name </label>
								<select class="form-select" id="ProductId" asp-for="ProductId">
									@foreach (var pro in ViewBag.products)
									{
										<option value="@pro.Id">@pro.Name</option>
									}
								</select>
							</div>

							<div class="col ">
								<label class="form-control ">Product Image</label>
								<input type="file" class="form-control" id="photo" name="photo" accept="Images/*" />
							</div>


							<div class="col- mt-3">
								<label for="" class="form-control"> Product Price</label>
								<input type="text"  id="Price" name="Price" class="form-control" />
								<span class="text-danger" asp-validation-for="Price"></span>
							</div>

							<div class="row mt-3">
								<div class="col">
									<label for="" class="form-control"> Quantity</label>
									<input type="text"  id="Qty" name="Qty" class="form-control" />
									<span class="text-danger" asp-validation-for="Qty"></span>
								</div>

								
								<div class="col">
									<label for="" class="form-control"> Product Color</label>
									<input type="text" id="Color" name="Color" class="form-control" />
									<span class="text-danger" asp-validation-for="Color"></span>
								</div>
							</div>

							<div class="modal-footer d-flex justify-content-center">
								<button type="submit" class="btn" style="background-color:#065f46; color: white;" data-bs-dismiss="modal">Save Changes</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel </button>
							</div>

					</form>
				</div>

			</div>
		</div>
	</div>
</div>



<div class="modal" tabindex="-1" id="confirm">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#ef4444; color: white;">
				<h5 class="modal-title">Confirm Deletion</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete?</p>
			</div>
			<div class="modal-footer  d-flex justify-content-center">
				<button type="button" class="btn" style="background-color:#dc2626; color: white;" data-bs-dismiss="modal" onclick="Confirmdel1()">Yes</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>




	<div class="card mt-4">
		<div class="card-body">
		<table class="table table-bordered" style="direction:ltr;">
			<thead style=" background-color:#2563eb;  color:white">
				<tr class="text-center">

					<th>Product No. </th>
					<th>Product Name</th>
					<th>Color </th>
					<th>Quantity </th>
					<th>Price </th>
					<th>Image </th>
					<th colspan="2">Actions</th>

					</tr>
				</thead>
				<tbody>
					@foreach (var pro in ViewBag.ProductDetails)
					{
					<tr class="text-center align-middle">
							<td>@pro.id</td>
							<td>@pro.name</td>
							<td>@pro.color</td>
							<td>@pro.qty</td>
							<td>@pro.price</td>
							<td><img src="/img/@pro.img" width="150" height="100" /></td>
						<td> <a onclick="ShowDelMessage(@pro.id)"> <i class="bi bi-trash3-fill" style="color:#ef4444;"></i> </a></td>
						<td> <a onclick="updateDetail(@pro.ProductId)"> <i class="bi bi-pencil-square" style="color:#10b981;"></i>  </a></td>
						</tr>
					}
				</tbody>
           </table>
		</div>
	</div>






</div>